.square {
  width: 3%;
  color: white;
  background-color: #b3c2bf;
  padding: 0.5em;
  margin: 0.3em 0.3em;
  flex-basis: 1em;
  text-align: center;
  float: left;
  list-style-type: none;
  height: 30px;
}

.green {
  background-color: #b3c2bf;
}

.white {
  background-color: white;
}

#wheel-container {
  text-align: center;
  top: 20px;
  position: relative;
}

.wheel {
  width: 400px;
  height: 400px;
  transform: rotate (0deg);
  transition: all 10s ease-out;
}

.picker {
  text-align: center;
  margin: 0 auto;
  top: 20px;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 70px solid black;
  border-radius: 50%;
}

.spin-btn {
  width: 150px;
  border-radius: 10px;
  background-color: gold;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
  font-size: 1rem;
}

.vowel-btn {
  width: 150px;
  border-radius: 10px;
  background-color: orange;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
}
